<!-- link to this page using : link_to 'O nama', page_path('about') -->
<div id="inner_about_us">
	<div id="logo_about_us_outer">
		<div id="logo_about_us" >
			<div id="logo_about_us_inner">
				<%= image_tag("icons/info_big.png", :alt=> "about_us") %>
			</div>
		</div>
	</div>
	<br>
	<h3>Što je "Moj Prvi Dom" ?</h3>
	<br>
	<div class="lijevi_textbox">
		„Moj Prvi Dom“ je neprofitna, nevladina udruga registrirana 15.12.2010.god. u Slavonskom Brodu, kao rezultat uvida u nedostatak cjelovitih programa namjenjenih majkama iz jednoroditeljskih obitelji u okviru sustava socijalne skrbi.
	</div>
	<div class="desni_textbox">
		Puni naziv udruge: Centar za razvijanje radnih vještina, suzbijanje siromaštva i socijalne isključenosti samohranih roditelja „Moj Prvi Dom.<br><br>
		Skraćeni naziv udruge: „Moj Prvi Dom“.
	</div>
	<div class="clear"></div>
	<br><br>
	<div class="lijevi_textbox">
		<h4> Misija </h4><br>
		Razvijanje programa na suzbijanju siromaštva i socijalne isključenosti za jednoroditeljske obitelji iz sustava socijalne skrbi.
	</div>
	<div class="desni_textbox">
		<h4>Vizija</h4><br>
		Pravo svakog djeteta na sigurnost odrastanja u roditeljskom domu.
	</div>
	<div class="clear"></div>
	<br><br>
	<div id="siromastvo_div">
		<div class="lijevi_textbox" id="siromastvo">
			<%= image_tag("about/siromastvo.svg", :alt=> "about_us") %>
		</div>
		<div class="desni_textbox" id="siromastvo">
			Siromaštvo je stepenica na putu do socijalne isključenosti,proces iz kojeg pojedinac/građanin bez pomoći zajednice teško pronalazi izlaz.<br> <br>
			Nezaposlenost ne mora biti uzrok siromaštva,ali za majke iz jednoroditeljskih obitelji  nezaposlenost je najčešće uzrok ulaska u sustav socijalne skrbi.
		</div>
	</div>
	<div class="clear"></div>
	<br><br>
	<div class="lijevi_textbox">
		<h4> Ciljevi </h4><br>
		Suzbijanje siromaštva i socijalne isključenosti za jednoroditeljaske obitelji iz sustava socijalne skrbi.<br><br>
		Ekonomsko osnaživanje i socijalno uključivanje u lokalnu zajednicu istih građana.<br><br>
		Eazvijanje radnih vještina i znanja te poticanjem samozapošljavanja.<br><br>
		Promicanje kvalitete života na selu.
	</div>
	<div class="desni_textbox">
		<h4>Djelatnosti</h4><br>
		Edukacija korisnika na sticanju znanja potrebnih za rad u poljoprivredi, voćarstvu,stočarstvu.<br><br>
		Uključivanje lokalnog stanovništva u edukacije i seminare.<br><br>
		Uključivanje Udruge u aktivnosti na lokalnoj,nacionalnoj i međunarodnoj razini u svrhu suradnje na rješavanju društvenih problema siromaštva, socijalne izolacije.<br><br>
		Izgradnja sigurnog prostora za odrastanje djece čiji je roditelj siromašan i socijalno izoliran.<br><br>
		Jačanje suradnje sa srodnim organizacijama u Hrvatskoj i izvan nje.
	</div>
	<div class="clear"></div>
	<br><br>
	<div class="song_lyric_div">
		<div class="song_lyric_box">
			<div class="quotes_and_song">
				<%= image_tag("icons/quotes.svg", :alt=> "quotes") %>
				<p>Svaka kap je važna.<br>

					Poput kapi kiše što na zemlju pada bila ona suha ili vlažna.<br>

					Suha vapi za kapi a vlažna brže se blati.<br>

					Kap dobrote srce može iscijeliti i potaknuti ljude da ljubav mogu dijeliti.<br>

					Kap mira i sreće, važna je i moćna, ona mijenja svijet kao šareni cvijet.<br>

					I kap što suza se zove, nije manje važna.<br>

					Ona predstavlja bol<br>

					A dio je života kao more i sol.<br>
					<div class="clear"></div>
					<div class="bottom_quote"><%= image_tag("icons/quotes.svg", :alt=> "quotes") %></div><br><br>
<div class="clear"></div>
					<div class="iva">Iva, 3.c<br>
									Zagreb</div>
			</div>
			
		</div>

	</div>
</div>