<!-- link to this page using : link_to 'O nama', page_path('about') -->
<div id="logo_o_nama_outer">
	<div id="logo_o_nama" >
		<div id="logo_o_nama_inner">
			<%= image_tag("icons/info_big.png", :alt=> "o_nama") %>
		</div>
	</div>
</div>
<h1>O NAMA</h1>
<br>
<h3>Što je "Moj Prvi Dom" ?</h3>
<div class="lijevi_textbox">
	„Moj Prvi Dom“ je neprofitna, nevladina udruga registrirana 15.12.2010.god. u Slavonskom Brodu, kao rezultat uvida u nedostatak cjelovitih programa namjenjenih majkama iz jednoroditeljskih obitelji u okviru sustava socijalne skrbi.
</div>
<div class="desni_textbox">
	Puni naziv udruge: Centar za razvijanje radnih vještina, suzbijanje siromaštva i socijalne isključenosti samohranih roditelja „Moj Prvi Dom
	Skraćeni naziv udruge: „Moj Prvi Dom“
</div>
<div class="clear"></div>
<div class="lijevi_textbox">
	<h3> Misija </h3>
	Razvijanje programa na suzbijanju siromaštva i socijalne isključenosti za jednoroditeljske obitelji iz sustava socijalne skrbi.
</div>
<div class="desni_textbox">
	<h3>Vizija</h3>
	Pravo svakog djeteta na sigurnost odrastanja u roditeljskom domu.
</div>
<div class="clear"></div>
<div class="lijevi_textbox" id="siromastvo">
	<%= image_tag("about/siromastvo.svg", :alt=> "o_nama") %>
</div>
<div class="desni_textbox" id="siromastvo">
	Siromaštvo je stepenica na putu do socijalne isključenosti,proces iz kojeg pojedinac/građanin bez pomoći zajednice teško pronalazi izlaz.<br> <br>
	Nezaposlenost ne mora biti uzrok siromaštva,ali za majke iz jednoroditeljskih obitelji  nezaposlenost je najčešće uzrok ulaska u sustav socijalne skrbi
</div>
<div class="clear"></div>
<div class="lijevi_textbox">
	<h3> Ciljevi </h3>
	- suzbijanje siromaštva i socijalne isključenosti za jednoroditeljaske obitelji iz sustava socijalne skrbi<br><br>
	- ekonomsko osnaživanje i socijalno uključivanje u lokalnu zajednicu istih građana<br><br>
	- razvijanje radnih vještina i znanja te poticanjem samozapošljavanja<br><br>
	- promicanje kvalitete života na selu
</div>
<div class="desni_textbox">
	<h3>Djelatnosti</h3>
	-edukacija korisnika na sticanju znanja potrebnih za rad u poljoprivredi, voćarstvu,stočarstvu.<br><br>
	-uključivanje lokalnog stanovništva u edukacije i seminare<br><br>
	-uključivanje Udruge u aktivnosti na lokalnoj,nacionalnoj i međunarodnoj razini u svrhu suradnje na rješavanju društvenih problema siromaštva, socijalne izolacije<br><br>
	- izgradnja sigurnog prostora za odrastanje djece čiji je roditelj siromašan i socijalno izoliran<br><br>
	- jačanje suradnje sa srodnim organizacijama u Hrvatskoj i izvan nje
</div>
<div class="clear"></div>

