<div id="donations_title">
  <br>
  <h2>Doniranje</h2>
</div>
 <br>
 <br>
<div class="donat_lijevi_txtbox" >
	<p>		
		<mark><b>„Moj Prvi Dom“</b></mark> odgovor je na nedostatak  cjelovitih programa u okviru sustava socijalne skrbi. Ovaj model roditelju nudi mogućnost ponovnog  uključivanja u zajednicu i stjecanje statusa punopravnog člana društva osposobljavajući se za samozapošljavanje, dok djeci pruža sigurno mjesto za odrastanje,kao i pravo na iskustvo odrastanja u roditeljskom domu.		
	</p>	
	<br>
	
	<p>
		Pozivamo građne,privredne subjekte,medije i sve koji imaju <mark>dobru volju </mark> 
	pomoći u obnovi objekta i realizaciji programa  da u okviru svojih mogućnosti doniraju za <mark> obnovu stare škole u selu Prilišće. </mark>
</p>
	<br>

  	<p class="donate_info"> <mark>Donaciju, </mark> u skladu sa Vašim mogućnostima možete uplatiti na:  <br>
  	  Kent banka d.d.<mark>	Žiro – račun 4124003-1172000056. </mark><br>

	 ili <br>

	 pozivom na 24 sata otvorenoj telefonskoj liniji: <br>
	  <mark> 060 30 50 53 </mark><br>
	(pozivom donirate 0,60 lip/min,  fik.1,78kn/min/mob.2,98kun/min)<br>
	</mark></p>
	<br> <br>

		<div class="song_lyric_div">
		<div class="song_lyric_box">
			<h3>baš svaki doprinos je bitan 
				<%= image_tag("donations/sun.png", :class => "sun_iva" )%></h3>
			<span class ="quot"> <%= image_tag("icons/quote_black.svg") %> </span>
			<div class="quotes_and_song">
				
				    Svaka kap je važna.<br>

					Poput kapi kiše što na zemlju pada bila ona suha ili vlažna.<br>

					Suha vapi za kapi a vlažna brže se blati.<br>

					Kap dobrote srce može iscijeliti i potaknuti ljude da ljubav mogu dijeliti.<br>

					Kap mira i sreće, važna je i moćna, ona mijenja svijet kao šareni cvijet.<br>

					I kap što suza se zove, nije manje važna.<br>

					Ona predstavlja bol<br>

					A dio je života kao more i sol.
					<div class="bottom_quote"><%= image_tag("icons/quote_black.svg", :alt=> "quotes") %></div>
					<div class="clear"></div>

					<div class="iva">Iva, 3.c<br>
									Zagreb</div>
			</div>
		</div>
	</div>

</div>
	<div class="donat_desni_txtbox">
		<br> <br>
			<div class="sponsors">
				<h3> naši dragi sponzori <%= image_tag("donations/heart.png",) %></h3> 
				<div class="box" id="box_1"></div>
				<div class="box" id="box_2"></div>
				<div class="box" id="box_3"></div>
				<div class="box" id="box_4"></div>
				<div class="box" id="box_5"></div>
				<div class="box" id="box_6"></div>
				<div class="box" id="box_7"></div>
				<div class="box_double" id="box_89"></div>
				<div class="box" id="box_10"></div>
				<div class="box" id="box_11"></div>
				<div class="box" id="box_12"></div>
				<div class="box" id="box_13"></div>
				<div class="box" id="box_14"></div>
				<div class="box" id="box_15"></div>
				<div class="box" id="box_16"></div>
				<div class="box" id="box_17"></div>
				<div class="box" id="box_18"></div>
				<div class="box" id="box_19"></div>
				<div class="box" id="box_20"></div>
				<div class="box" id="box_21"></div>
				<div class="box" id="box_22"></div>
				<div class="box_double" id="box_2324"></div>
				
				<div class="box" id="box_25"></div>
				<div class="box_double" id="box_2627"></div>
			
				<div class="box" id="box_28"></div>
				<div class="box" id="box_29"></div>
				<div class="box" id="box_30"></div>
			</div>
		
		
	</div>
<div class="clear"></div>
	<br><br>

	
</div>