<style>
mark {
	background-color: #fff; /* Safari */
	}

</style>
<div style="margin-top:120px; ">
	<h2>Nam, ut sint illa vendibiliora, haec uberiora certe sunt.</h2>
	<div style="margin-top:50px; text-align: justify; font-size: 17px; ">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. An est aliquid per se ipsum flagitiosum, etiamsi nulla comitetur infamia? <mark>Non potes, nisi retexueris illa.</mark> Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse; <mark>Duo Reges: constructio interrete.</mark> Non est igitur summum malum dolor. Nam de isto magna dissensio est. Primum cur ista res digna odio est, nisi quod est turpis? At coluit ipse amicitias. Bonum negas esse divitias, praeposìtum esse dicis? Age nunc isti doceant, vel tu potius quis enim ista melius? <b>Primum divisit ineleganter;</b> Sed id ne cogitari quidem potest quale sit, ut non repugnet ipsum sibi. </p>

		<h2>Si longus, levis.</h2>

		<p>Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Sin kakan malitiam dixisses, ad aliud nos unum certum vitium consuetudo Latina traduceret. <mark>An haec ab eo non dicuntur?</mark> </p>

		<p><mark>Nam quid possumus facere melius?</mark> Non igitur de improbo, sed de callido improbo quaerimus, qualis Q. Aliter homines, aliter philosophos loqui putas oportere? <b>Non autem hoc: igitur ne illud quidem.</b> Compensabatur, inquit, cum summis doloribus laetitia. Quae cum magnifice primo dici viderentur, considerata minus probabantur. Paria sunt igitur. </p>

		<h3>Dicimus aliquem hilare vivere;</h3>

		<p><mark>Sed fortuna fortis;</mark> Quod mihi quidem visus est, cum sciret, velle tamen confitentem audire Torquatum. Haec quo modo conveniant, non sane intellego. <i>Certe non potest.</i> Id Sextilius factum negabat. <mark>Qualem igitur hominem natura inchoavit?</mark> Omnes enim iucundum motum, quo sensus hilaretur. Parvi enim primo ortu sic iacent, tamquam omnino sine animo sint. </p>

		<p>Etenim semper illud extra est, quod arte comprehenditur. Ita multo sanguine profuso in laetitia et in victoria est mortuus. <mark>Qui ita affectus, beatum esse numquam probabis;</mark> Videamus animi partes, quarum est conspectus illustrior; Tecum optime, deinde etiam cum mediocri amico. Conferam tecum, quam cuique verso rem subicias; Iam contemni non poteris. <b>Comprehensum, quod cognitum non habet?</b> <i>Nunc vides, quid faciat.</i> <b>Frater et T.</b> </p>
	</div>
</div>

