<div id="svgContainer">
    <svg id="svg1" width="500" height="400" >
        <path
            id="path1"
            d="M0 0"             
            style="stroke:#000; fill:none;  stroke-width: 12px;"/>

         <path
            id="path2"
            d="M0 0"             
            style="stroke:#000; fill:none;  stroke-width: 12px;"/>
         <path
            id="path3"
            d="M0 0"             
            style="stroke:#000; fill:none;  stroke-width: 12px;"/>
           <path
            id="path4"
            d="M0 0"             
            style="stroke:#000; fill:none;  stroke-width: 12px;"/>
    </svg>
</div>

<div id="volunteer_title">
  <br>
  <h2>Volontiranje</h2>
</div>

<div class="volont_info_outer">
	<div class= "volont_info_inner">
		<p>Imate volju i želju da nekome uljepšate život? :)</p><br>
		<p>U tom slučaju, pogledajte naše <br>
			<mark>&nbsp <%= link_to "projekte & novosti", root_path %> &nbsp</mark> za više informacija o našim trenutnim  aktivnostima  </p>

	</div>
</div>



<div id="div1"style="opacity: 0.5; width: 80px; height: 100px;background-color:teal;"></div>

<div id="div3"style="padding:100px 50px;opacity: 0.5; width:80px; margin-left: 30%; height: 100px;background-color:red;"></div>

<div id="div2" style="padding:100px 200px;margin-left: 200px;margin-top:300px;height: 100px; background-color:orange; opacity: 0.5;"></div>

	<div id="div4" style="margin-left:25%; width:100px;height: 100px; background-color:green; opacity: 0.5;">

</div>