<div id="svgContainer">
    <svg id="svg1" width="500" height="400" >
       <path
            id="path1"
            d="M0 0"             
            stroke-width="0.5em"
            stroke-dasharray="25,25"
            style="stroke:#000; fill:none;  "/>
        <path
            id="path2"
            d="M0 0"             
            stroke-width="0.5em"
            style="stroke:#000; fill:none;  "/>
        <path
            id="path3"
            d="M0 0"             
            stroke-width="0.5em"
            style="stroke:#000; fill:none;  "/>
        <path
            id="path4"
            d="M0 0"             
            stroke-width="0.5em"
            stroke-dasharray="25,25"
            stroke-linecap="round"
            style="stroke:#000; fill:none;  "/>
        <path
            id="path5"
            d="M0 0"             
            stroke-width="0.5em"
            style="stroke:#000; fill:none;  "/>
        <path
            id="try1"
            d="M0 0"             
            stroke-width="12px"
            style="stroke:#000; fill:none;  "/>

         <path
            id="try2"
            d="M0 0"             
            stroke-width="12px"
            style="stroke:#000; fill:none;  "/>
         <path
            id="try3"
            d="M0 0"             
            stroke-width="12px"
            style="stroke:#000; fill:none;  "/>
           <path
            id="try4"
            d="M0 0"             
            stroke-width="12px"
            style="stroke:#000; fill:none;  "/>
    </svg>
</div>

<div id="volunteer_title">
  <br>
  <h2>Volontiranje</h2>
</div>

<div class="volont_info_outer">
	<div id= "volont_info">
		<p>Imate volju i želju nekome uljepšati život? :)</p>
		<p>U tom slučaju, pogledajte naše <br>
			<mark>&nbsp <%= link_to "projekte & novosti", root_path %> &nbsp</mark> za više informacija o našim trenutnim  aktivnostima  </p>
	</div>

  <div id= "volont_uvjeren">
    <p>Svidjeli su vam se naši projekti i jedva čekate pomoći? :)</p>
  </div>

  <div id= "volont_nebas">
    <p>Kao super su nam projekti, ali ne vidiš kako se ti ukapaš u cijelu priču i što zapravo možeš učiniti?</p>
  </div>

  <div id= "volont_nebrini">
    <p>Ne brini, dobri i topli ljudi uvijek su dobrodošli, dapače poželjni. Slobodno se javi, sigurni smo da ćemo nešto smisliti
    </p>
  </div>

  <div id= "volont_javi">
    <p> <b> ala text text lala </b></p>
     <p><mark>&nbsp <%= link_to "javite nam se", new_contact_path %> &nbsp</mark> 
    <br> <b>hvala! <b></p>
  </div>

</div>



<div id="teal" style="opacity: 0.5; width: 80px; height: 100px; background-color:teal;"></div>

<div id="red"style="padding:10px 50px; opacity: 0.5; width:80px; margin-top: 4%;margin-left:40%; height: 100px; background-color:red;"></div>

<div id="orange" style="padding:4px 20px; margin-left: 200px; margin-top:300px; height: 100px; background-color:orange; opacity: 0.5;"></div>

<div id="green" style="margin-left:25%; width:100px; height: 100px; background-color:green; opacity: 0.5;">

</div>