
<div class="shower" id="bckg_shower">
    <div class="holder" id="bckg_holder">
      <div class="slide" id="bckg_city">    </div>
      <div class="slide" id="bckg_country"> </div>
    </div>
</div> 
<div class="clear"></div>


<div class="shower" id="middle_shower">
    <div class="holder" id="middle_holder">
      <div class="slide" id="middle_txt">     </div>
      <div class="slide" id="middle_ita"> </div>
    </div>
</div> 
<div class="clear"></div>

<div class="shower" id="fg_shower">
    <div class="holder" id="fg_holder">
      <div class="slide" id="fg_txt">     </div>
      <div class="slide" id="fg_steve">   </div>
      <div class="slide" id="fg_ppl">     </div>
      <div class="slide" id="fg_job">     </div>
      <div class="slide" id="fg_kitchen"> </div>
      <div class="slide" id="fg_none">    </div>
      <div class="slide" id="fg_hart">    </div>
    </div>
</div> 
<div class="clear"></div>

<div class="shower" id="txt_shower">
    <div class="holder" id="txt_holder">
      <div class="slide" id="txt_txt"> 
        odgovor je na nedostatak  cjelovitih programa u okviru sustava socijalne skrbi. Ovaj model roditelju nudi mogućnost ponovnog  uključivanja u zajednicu i stjecanje statusa punopravnog člana društva osposobljavajući se za samozapošljavanje, dok djeci pruža sigurno mjesto za odrastanje, kao i pravo na iskustvo odrastanja u roditeljskom domu.    
      </div>
      <div class="slide" id="txt_steve"> 
        <p>Život u obiteljskoj zajednici..</p>
        <p>Život s financijskim prihodima..</p>
        <p>Život u socijalnom okruženju..</p>
        <p>Nemaju svi</p>

      </div>
      <div class="slide" id="txt_ppl"> 
        <p>Socijalna izolacija</p> 
      </div>
      <div class="slide" id="txt_job">  
        <p>Život bez prihoda</p>  
      </div>
      <div class="slide" id="txt_kitchen"> 
        <p>Siromaštvo</p>
      </div>
      <div class="slide" id="txt_none">    </div>
      <div class="slide" id="txt_hart">  
        <p>U Hrvatskoj ima 10 000 samohranih majki i 5 000 samohranih oceva</p>
        <p>Zajedno s vama Moj Prvi Dom ih može osposobit za radi vratiti u život odakle smo došli</p>
        <p>Zajedno samo jači</p>
        <p>Zajedno smo veči</p>
        <p>Zajedno smo jednostavno zajedno</p>
      </div>
    </div>
</div> 
<div class="clear"></div>
