<div class="home_spacer"></div> 
 <div class="arrow home_back"> &lt; </div>
 <div class="home_shower">
    <div class="home_holder">
      <div class="home_slide" id="slide-0"><span class="temp">Siromaštvo je stepenica na putu do socijalne isključenosti,proces iz kojeg pojedinac/građanin bez pomoći zajednice teško pronalazi izlaz.<br> <br>
			</span></div>
      <div class="home_slide" id="slide-1"><span class="temp">
			Nezaposlenost ne mora biti uzrok siromaštva,ali za majke iz jednoroditeljskih obitelji  nezaposlenost je najčešće uzrok ulaska u sustav socijalne skrbi.</span></div>
       <div class="home_slide" id="slide-2"><span class="temp">Siromaštvo je stepenica na putu do socijalne isključenosti,proces iz kojeg pojedinac/građanin bez pomoći zajednice teško pronalazi izlaz.<br> <br>
			</span></div>
    </div>

</div>
 <div class="arrow home_fwd"> &gt; </div>  
 <div class="clear"></div>
