
<div class="shower" id="bckg_shower">
    <div class="holder" id="bckg_holder">
      <div class="slide" id="bckg_city">    </div>
      <div class="slide" id="bckg_country"> </div>
    </div>
</div> 
<div class="clear"></div>


<div class="shower" id="middle_shower">
    <div class="holder" id="middle_holder">
      <div class="slide" id="middle_ita"> </div>
    </div>
</div> 
<div class="clear"></div>

<div class="shower" id="fg_shower">
    <div class="holder" id="fg_holder">
      <div class="slide" id="fg_steve">   </div>
      <div class="slide" id="fg_ppl">     </div>
      <div class="slide" id="fg_job">     </div>
      <div class="slide" id="fg_kitchen"> </div>
      <div class="slide" id="fg_none">    </div>
      <div class="slide" id="fg_hart">    </div>
    </div>
</div> 
<div class="clear"></div>
