
.shower{ 
  height:  calc( 100% - 0.3em);    /* change HERE desired height and width */
  width:   100%;    /* the rest will be scaled accordingly */
  float:   left;
  overflow: hidden;
  position: absolute;
}

.holder {
  height: 100%;   
  width:  100%;   /* change width HERE: width = 100% * nb_of_slides */
}

.slide {
  float:   left;
  height:  100%;
  width: 100%;   /* change width HERE: width = 100% / nb_of_slides */

  background-size:         cover;
  -o-background-size:      cover;
  -moz-background-size:    cover;
  -webkit-background-size: cover;

  background-repeat:       no-repeat;
  background-position:     center center;
}


#bckg_shower{ z-index: -30; }
#bckg_holder{ width:  200%; }
#bckg_holder .slide{ width: 50%;   background-color: #F3F1EA;}
#bckg_city{    background-image: url(/assets/home/background/city_background.png); }
#bckg_country{ background-image: url(/assets/home/background/selo_background.png); }


#middle_shower{ z-index: -20; }
#middle_holder{ width:  200%; }
#middle_holder .slide{ width: 50%; }
#middle_ita{ background-image: url(/assets/home/middleground/ita_mirjam.png); }


#fg_shower{ z-index: -10; }
#fg_holder{ width:  700%; }
#fg_holder .slide{ width:  calc(100% / 7); }
#fg_ppl{     background-image: url(/assets/home/foreground/people.png); }
#fg_job{     background-image: url(/assets/home/foreground/posao.png);  }
#fg_help{    background-image: url(/assets/home/foreground/pomoc.png);  opacity: 0;}
#fg_hart{    background-image: url(/assets/home/foreground/pola.png);   }
#fg_steve{   background-image: url(/assets/home/foreground/steve.png);  }
#fg_kitchen{ background-image: url(/assets/home/foreground/kuhinja.png);}




#txt_shower{ z-index: -5; }
#txt_holder{ width: 700%; }
#txt_holder .slide { width: calc(100% / 7); opacity: 0; }
#txt_txt.slide{ opacity: 1; }

.slide p{
  font-size: 3em;
  font-weight: bold;
  font-family: "Bitter", sans-serif;
  line-height: 1.6em;
  margin: 0.9em auto;
  background: rgba(0, 0, 0, 0.24);
  color: #FFF;
  text-align: center;
}


#txt_txt {
  padding-top: 9em !important;
}

.text_mojprvidom {
  font-size: 8em !important;
  text-align: center;
  font-weight: bold;
  font-family: "Bitter", sans-serif;
  line-height:1em;
  color: #FFF;
  text-shadow: 1px 2px 5px #5d5d5d;
}

.ovo {
  font-size:0.5em !important;
}

.scroll {
  font-size: 0.2em !important;
}

.scroll img {
  width: 1em;
  height: auto;
  margin-left: 0.5em;
}


.stepenica_siromastva {
  font-size: 2em !important;
  margin: 1.4em auto !important;

}
.moj_prvi_dom_txt {
  font-size: 2em;
  font-family: "Bitter";
  color: #757575;
  text-align: left;
  margin: 2em;
  line-height: 2em;
}

.doniraj_volontiraj {
  text-indent: 5em;
  margin: 9.5% auto;
  color: #757575;
  font-size: 2.2em;
  font-weight: bold;
}

.doniraj_volontiraj a,.doniraj_volontiraj a:visited, .doniraj_volontiraj a:active {
  color: #555555;
  font-family: "bitter";
  text-align: left;
  text-decoration: underline;
  background-color: rgba(255, 255,255, 0.8);
}

.doniraj_volontiraj a:hover {
  background-color: rgba(255, 255, 255, 1);
}
