
.shower{ 
  height:  calc( 100% - 0.3em);    /* change HERE desired height and width */
  width:   100%;    /* the rest will be scaled accordingly */
  float:   left;
  overflow: hidden;
  position: absolute;
}

.holder {
  height: 100%;   
  width:  100%;   /* change width HERE: width = 100% * nb_of_slides */
}

.slide {
  float:   left;
  height:  100%;
  width: 100%;   /* change width HERE: width = 100% / nb_of_slides */

  background-size:         cover;
  -o-background-size:      cover;
  -moz-background-size:    cover;
  -webkit-background-size: cover;

  background-repeat:       no-repeat;
  background-position:     center center;
}


#bckg_shower{ z-index: -30; }
#bckg_holder{ width:  200%; }
#bckg_holder .slide{ width: 50%;   background-color: #F3F1EA;}
#bckg_city{    background-image: url(/assets/home/background/city_background.png); }
#bckg_country{ background-image: url(/assets/home/background/selo_background.png); }


#middle_shower{ z-index: -20; }
#middle_holder{ width:  200%; }
#middle_holder .slide{ width: 50%; }
#middle_ita{ background-image: url(/assets/home/middleground/ita_mirjam.png); }


#fg_shower{ z-index: -10; }
#fg_holder{ width:  700%; }
#fg_holder .slide{ width:  calc(100% / 7); }
#fg_ppl{     background-image: url(/assets/home/foreground/people.png); }
#fg_job{     background-image: url(/assets/home/foreground/posao.png);  }
#fg_hart{    background-image: url(/assets/home/foreground/pola.png);   }
#fg_steve{   background-image: url(/assets/home/foreground/steve.png);  }
#fg_kitchen{ background-image: url(/assets/home/foreground/kuhinja.png);}




#txt_shower{ z-index: -5; }
#txt_holder{ width: 700%; }
#txt_holder .slide { width: calc(100% / 7); opacity: 0; }
#txt_txt.slide{ opacity: 1; }

.slide p{
  font-size: 3em;
  font-weight: bold;
  font-family: "Bitter", sans-serif;
  line-height: 1.6em;
  margin: 0.9em auto;
  background: rgba(0, 0, 0, 0.24);
  color: #FFF;
  text-align: center;
}


#txt_txt {
  padding-top: 9em !important;
}

.text_mojprvidom {
  font-size: 8em !important;
  text-align: center;
  font-weight: bold;
  font-family: "Bitter", sans-serif;
  line-height:1em;
  color: #FFF;
  text-shadow: 1px 2px 5px #5d5d5d;
}

.ovo {
  font-size:0.5em !important;
}

.scroll {
  font-size: 0.2em !important;

}

#txt_none {
  margin: 2em 0 0 0;
  text-align: justify;
  font-size: 1.5em;
  color: #fff;
  font-weight: bold;
  font-family: "Bitter", sans-serif;
  line-height: 1.6em;
  *text-shadow: 1px 2px 5px #5d5d5d;
  


}


.city_txt_bckg {
    background: rgba(0, 0, 0, 0.24);
}

.ar {
  clear: both;
}

.city_txt_left {
  float:left;
  width:45%;
  padding-left: 1em;  
}

.city_txt_right {
  float:right;
  width: 45%;
  padding-right: 1em;
}

.city_txt_center {
  margin:6em 0 0 2.5em;
  clear: both;
  width: 47%;
  text-align: left;
  font-size: 1.2em !important;
  line-height: 1.5em;
  background: none !important;
}

.moj_prvi_dom_txt {}
.pomoc_gradana_txt {}
.doniraj_volontiraj {}
