/* 			O NAMA 			*/

#inner_about_us {
	margin: 6em auto 0 auto;
}

#inner_about_us h1 {
	margin-top: 1em;
	text-align: center;
}

#inner_about_us h3  {
	text-align: center;
	font-size: 40px;
	
}

#inner_about_us h4 {
	text-align: left;
	font-size: 28px;
	font-weight: bold;
	color: #494949;
}

#logo_about_us {
	background-color: #2c2c2c;
	border-radius: 100em;
	width: 5em;
	height: 5em;
	margin: 0 auto;
	opacity: 0.3;
}

#logo_about_us:hover {
	background-color: #2c2c2c;
	opacity: 0.25;
}

#logo_about_us_inner {	
	width: 5em;
	height: 5em;
	vertical-align: middle;
	margin: 0 auto;
	text-align: center;
	display: table-cell;
}


#logo_about_us img {
	width: 20%;
	height: auto;
}

#logo_about_us_outer{
	width: auto;
	height: auto;
}

.lijevi_textbox, .desni_textbox {
	float: left;
	text-align:justify;
	width:46.143%;
	height: auto;
}

.lijevi_textbox {
	margin-right: 3.857%;
}


#siromastvo img{
	width: 100%;
}


.clear{
	clear: both;
}

.song_lyric_div{
	width: 100%;
	height: auto;
	text-align: center;
}

.song_lyric_box {
	width:32em;
	height: auto;
	background-color:#fff; 
	display: inline-block;
	border: 2px solid #d6d6d6;
}

.quotes_and_song {

	width: auto;
	height: auto;
	padding: 3em 1.5em 3em 1.5em;
}

.song_lyric_box p{
	color: #525252;
	line-height: 38px;
	text-align: left;
	float: right;
	width: 84%;
	margin-left: 6%;
}

.song_lyric_box img {
	float: left;
	width: 10%;
}


.iva {
	text-align: center;
	font-weight: bold;
	clear: both;
	color: #525252;

}

.bottom_quote img{
	float: right;
	width: 10%;
	height: auto;
	
}


.donate_and_volonteer {
	width: 100%;
	height:auto;
	margin: 2em 0 2em 0;
	background-color: yellow;
}

.donate, .volonteer {
	width: 50%;
	height: auto;
	float: left;
	text-align: center;
	  background-color: blue;


}

.donation_button, .volonteer_button {
    float: left;
    height: auto;
    width: 50%;
    margin: 0 10px 18px 0;
    line-height: 2.5em;
    font-weight: bold;
    border:1px solid #b2b1b1;
    text-align: center;
    font-size: 26px;
    display: inline-block;
  


    }
.volonteer {
	background-color: red;
}

.donation_button,
.donation_button:hover,
.donation_button:visited,
.volonteer_button,
.volonteer_button:hover,
.volonteer_button:visited {
    color: #555;
    border-bottom: 6px solid #b2b1b1; 
    border-radius: 0.4em;
    text-shadow: 0px 1px 0px #fafafa;
    background: #eee;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e2e2e2));
    background: -moz-linear-gradient(top,  #eee,  #e2e2e2);
    box-shadow: inset 1px 1px 0 #f5f5f5;
}
 

.donation_button:hover,
.volonteer_button:hover {
    background: #e2e2e2;
    background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#eee));
    background: -moz-linear-gradient(top,  #e2e2e2,  #eee);
}




@media screen and (max-width: 1200px ){
	.lijevi_textbox, .desni_textbox {
		float: none;
		text-align: left;
		width:100%;
		margin-bottom: 1em;
		
	}

}

@media screen and (max-width: 685px) {
	.song_lyric_box {
		width: 100%;
		height: auto;
		padding: 1.5em 0em 1.5em 0em;
	}
	.song_lyric_box img {
	float: none;
	width: 10%;
}
.song_lyric_box p{
	color: #525252;
	line-height: 38px;
	text-align: justify;
	float: none;
	width: 84%;
	margin-left: 6%;
}

}