#donations_title h2  {
  text-align: right;
  font-size: 60px;
  font-family: "Bitter", sans-serif;
  line-height: 1em;
  border-bottom: 0.25em solid black;
	
}

.donat_lijevi_txtbox, .donat_desni_txtbox{
	float: left;
	text-align:justify;
	width:46.143%;
	height: auto;
	margin: 0 auto;
}

.donat_lijevi_txtbox {
	margin-right: 3.857%;
}

.donat_lijevi_txtbox mark {
	font-family: "Bitter", sans-serif;
 	background-color: white;
 }

.donations_content h3{
	text-align: left;
  	font-family: "Bitter", sans-serif;
  	line-height: 1em;
 	color: #222;
  	border-bottom: 0.1em solid #222;
}
.donations_content img {
	width: 40px;
	height: auto;
	display: inline-block;
}

.sponsors{
	text-align: center;
	margin: 0 auto;
	padding:2px 60px;
}

.box {
    float:left;
    margin:2px;
    width:100px;
    height:100px;
    background-color: teal;
}

#box_1{
	background:url('/assets/donations/nexe.png') ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}

#box_2{
	background-color: gray;
	background-repeat: no-repeat;
    background-size: auto 100%;
}

#box_4{
	background:url('/assets/donations/dentalCM.png') ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}

#box_5{
	background:url('/assets/donations/obrtnicka.png') ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}
#box_7{
	background:url('/assets/donations/joker.png') ;	
	background-repeat: no-repeat;
    background-size: auto 100%;
}

#box_16{
	background:url('/assets/donations/fina.png') ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}

#box_11{
	background-color: orange ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}


#box_14{
	background:url('/assets/donations/pomorska.png') ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}


#box_13{
	background:url('/assets/donations/acPrint.png') ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}
#box_17{
	background:url('/assets/donations/euroart.png') ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}

#box_12{
	background:url('/assets/donations/kras.png') ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}

#box_19{
	background:url('/assets/donations/supernova.png') ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}
