#donations_title h2  {
  text-align: right;
  font-size: 60px;
  font-family: "Bitter", sans-serif;
  line-height: 1em;
  border-bottom: 0.25em solid black;
	
}

.donat_lijevi_txtbox, .donat_desni_txtbox{
	float: left;
	text-align:justify;
	width:46.143%;
	height: auto;
	margin: 0 auto;
}

.donat_lijevi_txtbox {
	margin-right: 3.857%;
}

.donat_lijevi_txtbox mark {
	font-family: "Bitter", sans-serif;
 	background-color: white;
 }

.donat_desni_txtbox h3{
	text-align: left;
  	font-family: "Bitter", sans-serif;
  	line-height: 1em;
 	color: #222;
  	border-bottom: 0.1em solid #222;
}
.donat_desni_txtbox h3 img {
	width: 40px;
	height: auto;
	display: inline-block;
}


.donate_info{
	text-align: center;
}
 

td  {
	line-height: 0px;
	background-color: teal;
}

td img {
	height: 100px;
	width:auto;
}


@media screen and (max-width: 1200px ){
	.donat_lijevi_txtbox, .donat_desni_txtbox {
		float: none;
		text-align: left;
		width:100%;
		margin-bottom: 1em;
		
	}

}
