* {
	margin:0;
	padding:0;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);



body {
	font-size:  14px;
	/*background-color: #fff;*/
	background-repeat: repeat-x;
	width: 100%;
	height: 100%;
	font-family: "Open Sans",sans-serif;
	line-height: 21px;


}


#container {
	width: 70%;
	height: auto;
	*background-color: blue;
	margin: 0 auto;
}


/* 		FOOTER    */


#footer {
	background: #2c2c2c; 
	-webkit-box-shadow: inset 0 1em 1em -0.5em rgba(0,0,0,0.5);
	height:auto; 
	background-repeat:no-repeat;
	text-align: center;
	box-shadow: inset 0 1em 1em -0.5em rgba(0,0,0,0.5);
	clear: both;
	margin-top: 3em;
}

#footer p {
	margin-top:2.2em;
	color: #c1c1c1;
}

#footer_img img {
	min-width: 50%;
	height:auto;
}

#facebook {
	height: 18.5em;
	width: auto;
	background-color: #3b5998;
	float: right;
	margin-top: -12.6em;
}

#facebook_1200 {
	display: none;
}

#facebook img {
	height: 8em;
	width: auto;
	margin-top: 5%;
}

#facebook:active, #facebook:hover {
	background-color: #4264aa;
}



/*  	FOOTER RESPONSIVE  */

@media screen and (max-width: 1200px ){
	#facebook_1200 {
		display: inline-block;
		width: 100%;
		height: 5em;
		background-color: #3b5998;
		margin-top: 8em;
	}

	#facebook_1200 img {
		height: 4em;
		width: auto;
		margin-top: 0.3%;
		float: right;
	}

	#facebook_1200:active, 	#facebook_1200:hover {
		background-color: #4264aa;
	}

	#facebook {
		display: none;
	}

	#footer {
		margin-top: 0;
	}

	#container {
		width: 90%;
	}

	#footer_img img {
	width: 98%;
	height:auto;
	}
}