@import url(http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400&subset=latin-ext);
@import url(http://fonts.googleapis.com/css?family=Bitter:700,400&subset=latin-ext,latin);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&subset=latin-ext);
* {
	margin:0;
	padding:0;
}

body {
	font-size:  20px; 				/* Font size [px] x  [em] size = real size [px] */
	background-repeat: repeat-x;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.74em;
	background-color: #F3F1EA;
	border-top: 0.3em solid #fff;
	background-image: url(/assets/footer/footer_background.svg);
	background-repeat: repeat-x;
	background-position: left bottom;
}


h3 { font-size: 1.4em; }

mark{
 background-color: white;
 font-family: "Bitter", sans-serif;
 font-weight: bold;
 color: #222;
}

#container {
	width: 70%;
	height: auto;
	margin: 0 auto;
	margin-top: 2.5em;
}

a { 
	text-decoration: none;
}


/* 		NAVIGATION 	*/
.navigation_box {
	width: 100%;
	height: auto;
	background-color: #fff;
	line-height: 5em;
	display: none;
}

.navigation_box_links {
	width: 80%;
	height: 5em;
	margin: 0 auto;
}

.nav {
	width: 100%;
	text-align: center;
}

.nav li {
	display: inline-block;
	margin-right: 2em;
}

.logo img{
	float: left;
	width: auto;
	height: 4.2em;
	margin-top: 0.3em;
	margin-right: 2em;
}
.navigation_logo {
	text-align: center;
	width: 13em;
	height: auto;
	float: right;
	margin-right: 2em;
}

.navigation_logo img {
	width: 99%;
	height: auto;
}

.navigation_box a:hover {
	color: orange;
}


/* 		FOOTER    */
.footer {
 	width: 100%;
 	min-height: 17.8em;
 	height: 100%;
 	text-align: right;
 	background-image: url(/assets/footer/Footer.svg);
 	background-repeat: no-repeat;
 	background-position: center bottom;
 	background-size: auto 100%;
}

.footer_navigation  { 
	padding-top: 13em;
}

.footer_navigation li{
	display: inline-block;
	margin-right: 2em;
	font-variant: small-caps;
}

.footer_navigation a {
	color: #fff;
}

.footer p {
	color: #CCCCCC;
	font-size: 0.5em;
	margin-right: 4em;
}

/*  	FOOTER RESPONSIVE  */
@media screen and (max-width: 1200px ){

	body { font-size: 16px;	
		   background-image: url(/assets/footer/footer_background_responsive.svg);}

	#container { width: 90%; }

	.navigation_box_links {	width: 100%; }

	.logo img {	margin-left: 1em;}


}

@media screen and (max-width:730px) {

	.navigation_box { width: 100%;
					  height: auto;
					  background-color: #fff;
					  line-height: 3em;	}

	.navigation_box_links { width: 100%;
							height: auto;
							margin: 0 auto; }

	.nav { width: 100%;
		   text-align: center; }

	.nav li { display:block;}


	.logo img{ display: none; }

	.navigation_logo { float: none;
					   margin: 0 auto; }
}