* {
	margin:0;
	padding:0;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-size:  20px;
	background-repeat: repeat-x;
	width: 100%;
	height: 100%;
	font-family: verdana ,sans-serif;
	line-height: 34.8px;
	background-color: #e2e2e2;


}
 h3 {
 	font-size: 28px;
 }

#container {
	width: 70%;
	height: auto;
	margin: 0 auto;
}


/* 		FOOTER    */


#footer {
	background: #2c2c2c; 
	-webkit-box-shadow: inset 0 1em 1em -0.5em rgba(0,0,0,0.5);
	height:auto; 
	background-repeat:no-repeat;
	text-align: center;
	box-shadow: inset 0 1em 1em -0.5em rgba(0,0,0,0.5);
	clear: both;
	
}

#footer p {
	margin-top:2.2em;
	color: #929292;
	float: left;
	width: 92%;
}

#footer_img {
	min-width: 50%;
	width: 92%;
	height:auto;
	float: left;
	display: inline-block;
	text-align: center;
}

#footer_img img {
	width: 60%;
}
#clear{
	clear: both;
}

#facebook {
	height: 14em;
	width: 8%;
	background-color: #3b5998;
	float: right;
}

#facebook_1200 {
	display: none;
}

#facebook img {
	height: auto;
	width: 100%;
	margin-top: 5%;
}

#facebook:active, #facebook:hover {
	background-color: #4264aa;
}



/*  	FOOTER RESPONSIVE  */

@media screen and (max-width: 1200px ){
	body {
		font-size: 16px;
	}

	#container {
		width: 90%;
	}

	#footer {
		margin-top: 0;
	}

	#footer_img img {
		width: 100%;
		height:auto;
	}

	#footer p {
		width: 100%;
	}

	#footer_img {
		width: 100%;
		margin-top: 1em;
	}

	#facebook {
		display: none;
	}

	#facebook_1200 {
		display: inline-block;
		width: 100%;
		height: auto;
		background-color: #3b5998;
		margin-bottom: -1em;
	}

	#facebook_1200 img {
		width: 5em;
		height:auto;
		float: right;
	}


	#facebook_1200:active, 	#facebook_1200:hover {
		background-color: #4264aa;
	}

	
	#facebook_1200 p {
		float: left;
		color: #fff;
		margin: 2.5% 0 0.5% 2.5%;
		font-size: 20px;
	}
	


}