.box {
    float:left;
    margin:2px;
    width:100px;
    height:100px;
    background-color: teal;
}

.box_double{
	float:left;
    margin:2px;
    width:204px;
    height:100px;
    background-color: teal;

}

#box_1{
	background:url('/assets/donations/nexe.png') ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}

#box_2{
	background-color: gray;
	background-repeat: no-repeat;
    background-size: auto 100%;
}

#box_4{
	background:url('/assets/donations/dentalCM.png') ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}

#box_5{
	background:url('/assets/donations/obrtnicka.png') ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}
#box_7{
	background:url('/assets/donations/joker.png') ;	
	background-repeat: no-repeat;
    background-size: auto 100%;
}


#box_10{
	background:url('/assets/donations/gornjoGradska.png') ;	
	background-repeat: no-repeat;
    background-size: auto 100%;
}


#box_12{
	background-color: orange ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}

#box_13{
	background:url('/assets/donations/kras.png') ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}


#box_17{
	background:url('/assets/donations/euroart.png') ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}


#box_15{
	background:url('/assets/donations/fina.png') ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}

#box_25{
	background:url('/assets/donations/osZrnovnic.png') ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}

#box_21{
	background:url('/assets/donations/supernova.png') ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}
#box_2324{
	background:url('/assets/donations/double.png') ;	
	background-repeat: no-repeat;
    background-size: auto 100%;
}

#box_2627{
	background:url('/assets/donations/ekonomska.png') ;	
	background-repeat: no-repeat;
    background-size: auto 100%;
}
#box_28{
	background:url('/assets/donations/acPrint.png') ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}



#box_29{
	background:url('/assets/donations/vrtic.png') ;
	background-repeat: no-repeat;
    background-size: auto 100%;
}

table, td {
	width: 5px;
	height: 10px;
}

table {

}