#svgContainer { 
	position:absolute;
	z-index: -10;	
}


#volunteer_title h2  {
	text-align: right;
	font-size: 60px;
	font-family: "Bitter", sans-serif;
	font-weight: bold;
	line-height: 1em;
	border-bottom: 0.25em solid black;	
}

.volont_info_outer{
	margin-top: 3em;
	color: #333;
}

.volont_info_outer b{
	font-family: "Bitter", sans-serif;
	font-weight: bold;
}
.volont_info_outer mark{
 background-color: white;
 font-family: "Bitter", sans-serif;
 font-weight: bold;
 color: #222;
}

.volont_info_outer a{
	font-family: "Bitter", sans-serif;
	font-weight: bold;
	color:#222;
	border-bottom: 0.2em solid #222 ;
}

.volont_info_outer a:hover{
	background-color:yellow;
}

#volont_info{
	margin: 0 auto;
	width:25%;
	padding: 1.5em;
	background-color: #D4CCB3;
}
#volont_info img{
	display: inline;
	width: 7em;
	height: auto;

}


#volont_uvjeren{
	margin: 5em 0;
	width:25%;
	float: left;
	padding: 1.5em;
	background-color: #C49A9D;
}
#volont_uvjeren img{
	display: inline;
	width: 3.5em;
	height: auto;

}
#volont_nebas{
	margin: 5em 70%;
	width:25%;
	padding: 1.5em;
	background-color: #7AB9B5;
}
#volont_nebas img{
	display: inline;
	width: 2.5em;
	height: auto;

}

#volont_nebrini{
	margin: 5em 70%;
	width:25%;
	padding: 1.5em;
	background-color: #F9CB75;
}

#volont_javi{
	margin: 5em auto;
	text-align: center;
	width:15%;
	padding: 1.5em;
	background-color: #91BEA0;

}
