/* 		CONTAC FORM  PAGE  */
#inner_kontakt {
	width: 500px;
	margin: 1.5em auto 0 auto;
	text-align: center;
}

#inner_kontakt p {
	text-align: center;
	font-size: 23px;
}

.poziv_donirate {
	font-size: 13px !important;
	font-style: italic;
	color:#555;

}

.error_messages h4{
	margin-top: 20px;
	text-align: left;
}
.error_messages ul{
	list-style: circle;
	list-style-position: inside;
	text-align: left;
	font-size: 16px;
}
.error_messages li{ margin-bottom: 0px;}



.name {
	float: left;
	width: auto;
	margin-right: 1.5em;
}

.email{
	float: left;
	width: auto;
}

.name input[type="text"], .email input[type="text"] {
	width:16.35em;


}

.subject {
	width: 100%;
	clear: both;
}

.subject input[type="text"]{
	width: 98.85%;
}


.name input[type="text"], .email input[type="text"], .subject input[type="text"], textarea, input[type="submit"], input[placeholder], textarea[placeholder] {
	height: 2em;
	background-color: #fff;
	border: 0.1em solid #bebebe;
	font-family: verdana !important;
	color:#2f3034;
	margin-bottom: 1.5em;
	font-size: 14px;
	padding-left: 4px;
}

.name input[type="text"]:focus, .email input[type="text"]:focus, .subject input[type="text"]:focus, textarea:focus, input[type="submit"]:active {
	border:1px solid #848484;
}


textarea {
	min-height: 10em;
	max-height: 20em;
	min-width: 98.85%;
	max-width: 98.85%;

}

input[type="submit"] {
	width: 5em;
}


@media screen  and (max-width:1200px) {
	.name {
		margin-right: 3.5em;
	}

	.name input[type="text"], .email input[type="text"] {
	width:116%;
	}

}

@media screen  and (max-width:575px) {
	#inner_kontakt {
		width: 100%;
	}


	.name input[type="text"], .name{
		width: 99.4%;
	}	

	.email input[type="text"], .email{
		width:99.4%;
	}
}

